

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #000;
    font-weight: 400;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  html {
    height: 100%;
    font-size: 10px;
    font-family: "Corbel", Arial, sans-serif;
  }
  
  body {
    line-height: 1;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .col-full {
      max-width: 1320px!important;
  }
  .hentry,
  .site-main,
  .content-area, 
  .widget-area {
      margin: 0 0!important;
  }
  body.home .entry-title {
      display: none;
  }
  ol, ul {
    list-style: none!important;
    margin: 0 0!important;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a {
    color: #000!important;
  }
  a:hover {
       color: #C59D83;
       transition: 0.3s;
       outline: none;
  }
  a:focus {
    outline: none!important;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: "CentSchbk", Arial, sans-serif;
      color: #000!important;
      font-weight: 700;
      line-height: 1;
  }
  h1 {
      font-size: 4rem!important;
  }
  .h1_like {

  }
  .brush {
      font-family: "BrushScript";
  }
  .storefront-breadcrumb {
    margin: 0 0 10px 0!important;
    padding: 0 0!important;
}
#page .storefront-breadcrumb {
  display: none;
}
.storefront-breadcrumb a,
.storefront-breadcrumb * {
  color: #b8b8b8!important;
  font-size: 1.4rem;
}
.content__center {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.fz2_rem {
  font-size: 2rem;
}
  
  /*header*/
  .header {
      padding: 20px 0;
  }
  .header .header__logo div {
      display: flex;
      align-items: center;
  }
  .header .header__logo a img{
      max-width: 95px;
      object-fit: contain;
  }
  .header .header__logo .header__logo_title {
      margin: 0 0 0 5px;
      color: #868686;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 18px;
  }
  .header .header__phone > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .header .header__phone a {
      display: flex;
      align-items: center;
  }
  .header .header__phone a:not(.header__whatsapp):before {
      content: '';
      background-image: url('../../assets/img/icons/phone_black.svg');
      width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 0px;
      margin: 0 10px 0 0;
  }
  .header .header__phone .header__phone_number {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      width: 100%;
      justify-content: space-between;
  }
  .header .header__phone .header__phone_number:not(:last-child) {
      margin: 0 0 0px 0;
  }
  .header .header__phone a.header__whatsapp {
      margin: 0 0 0 15px ;
      position: relative;
      top: -1px;
  }
  .header .header__phone a.header__whatsapp img {
      width: 16px;
      object-fit: contain;
  }
  .header .header__phone a.header__whatsapp img:hover {
      transition: 0.3s;
      transform: scale(1.03);
  }
  .header__logo,
  .header__phone,
  .header__adress,
  .header__social {
      position: relative;
      display: flex;
      align-items: center;
  }
  .header__phone, .header__adress, .header__social {
      padding-left: 25px;
  }
  .header__logo::after,
  .header__phone::after,
  .header__adress::after {
      content: '';
      background-image: url('../../assets/img/icons/grey_line.svg');
      width: 1px;
      min-width: 1px;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .header .header__adress {
      display: flex;
      align-items: center;
  }
  .header .header__adress > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .header .header__adress > div * {
      font-size: 1.7rem;
      text-align: left;
      width: 100%;
  }
  .header .header__adress .header__adress_name::before {
      content: '';
      background-image: url('../../assets/img/icons/adress_black.svg');
      width: 14px;
      min-width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin: 0 10px 0 0;
  }
  .header .header__adress a::before {
      content: '';
      background-image: url('../../assets/img/icons/mail_black.svg');
      width: 14px;
      min-width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 1px;
      margin: 0 10px 0 0;
  }
  .header .header__adress .header__adress_name {
      margin: 0 0 0px 0;
  }
  .header .header__social {
      display: flex;
      justify-content: space-between;
  }
  .header .header__social .header__social_links {
      display: flex;
  }
  .header .header__social .header__social_links a img {
      width: 23px;
      object-fit: contain;
      margin: 0 15px 0 0 ;
  }
  .header .header__social .header__social_links a img:hover {
      transition: 0.3s;
      transform: scale(1.03);
  }
  
  .callback__btn_small button {
      background-color: transparent;
      border: 1px solid #BD8F71;
      padding: 5px 15px;
      font-size: 1.5rem;
      text-transform: uppercase;
  }
  .callback__btn_small button:hover {
      background-color: #BD8F71;
      color: #fff;
      transition: 0.3s;
      box-shadow: 1px 1px 3px 0 #00000057;
  }
  
  
  .header__nav {
      position: relative;
      margin: 10px 0 0 0;
      padding: 15px 0;
  }
  .header__nav::before {
      content: '';
      background-image: url('../../assets/img/icons/grey_line_large.svg');
      width: 100%;
      min-width: 100%;
      height: 1px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
  }
  .header .header__nav {
  
  }
  .header .header__nav .header-menu-class {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .header .header__nav .header-menu-class a {
      font-size: 2.2rem;
      z-index: 2;
      position: relative;
  }
  .header .header__nav .header-menu-class > li {
      position: relative;
      width: 100%;
      text-align: center;
  }
  .header .header__nav .header-menu-class li {
    list-style-type: none;
  }
  .header .header__nav .header-menu-class > li .sub-menu {
      position: absolute;
      left: -9999px;
      top: -14px;
      z-index: 1;
      width: 100%;
  }
  .header .header__nav .header-menu-class > li:hover .sub-menu {
      position: absolute;
      left: 0;
      transition: 0.3s;
  }
  .header .header__nav .header-menu-class > li .sub-menu {
      background-color: #fff;
      padding: 55px 20px 20px 20px;
      margin: 0 0;
      box-shadow: 0px 5px 19px -4px #bd8f718a;
  }
  .header .header__nav .header-menu-class > li .sub-menu a {
      display: inline-block;
      text-align: left;
      font-size: 18px;
  }
  /*header*/
  
  /*footer*/
  .footer {
      background-color: #7A6759;
      padding: 30px 0;
  }
  .footer a {
    color: #fff!important;
  }
  .footer * {
      color: #fff;
      font-size: 1.6rem;
  }
  .footer .footer__logo,
  .footer .footer__nav,
  .footer .footer__phone,
  .footer .footer__social {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 25px;
  }
  .footer .footer__logo::after,
  .footer .footer__nav::after,
  .footer .footer__phone::after {
      content: '';
      background-image: url(../../assets/img/icons/white_line.svg);
      width: 1px;
      min-width: 1px;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
  .footer .footer__logo div {
      display: flex;
      align-items: center;
  }
  .footer .footer__logo a img {
      max-width: 95px;
      object-fit: contain;
  }
  .footer .footer__logo .footer__logo_title {
      margin: 0 0 0 5px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 18px;
  }
  .footer .footer__nav li {
    list-style-type: none;
  }
  .footer .footer__nav div {
      width: 100%;
  }
  .footer .footer__nav .footer-menu-class {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      grid-row-gap: 5px;
  }
  .footer .footer__phone .footer__phone_number {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      width: 100%;
      margin: 0 0 3px 0;
      justify-content: space-between;
  }
  .footer .footer__phone a {
      display: flex;
      align-items: center;
  }
  .footer .footer__phone a:not(.footer__whatsapp):before {
      content: '';
      background-image: url(../../assets/img/icons/phone_white.svg);
      width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin: 0 10px 0 0;
  }
  .footer .footer__phone_mail a {
      margin: 0 0!important;
  }
  .footer .footer__phone_mail a::before {
      content: '';
      background-image: url(../../assets/img/icons/mail_white.svg);
      width: 14px;
      min-width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin: 0 10px 0 0;
  }
  .footer .footer__phone a.footer__whatsapp img {
      width: 16px;
      object-fit: contain;
  }
  .footer .footer__phone a.footer__whatsapp img:hover {
      transition: 0.3s;
      transform: scale(1.03);
  }
  .footer .footer__phone a.footer__whatsapp {
      margin: 0 0 0 15px;
      position: relative;
      top: 2px;
  }
  .footer .footer__social {
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .footer .footer__social .footer__social_links {
      display: flex;
  }
  .footer .footer__social .footer__social_links a img {
      width: 23px;
      object-fit: contain;
      margin: 0 15px 0 0;
  }
  .footer .footer__social .footer__social_links a img:hover {
      transition: 0.3s;
      transform: scale(1.03);
  }
  .footer .footer__social .footer__adress_name {
      margin: 15px 0 0 0;
  }
  .footer .footer__social .footer__adress_name::before {
      content: '';
      background-image: url(../../assets/img/icons/adress_white.svg);
      width: 14px;
      min-width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: 2px;
      margin: 0 10px 0 0;
  }
  /*footer*/
  
  /*other section*/
  .ads__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background: rgba(255,255,255,.6);
      border: 3px solid #fff;
      max-width: 60%;
      margin: 0 auto;
      padding: 35px 50px;
  }
  .ads__block .brush {
      font-size: 8rem;
      font-weight: 600;
      margin: 0 0;
  }
  .ads__block p {
      font-size: 2.1rem;
  }
  .callback__btn button {
      background: linear-gradient(to bottom, #fde6d6 0%,#bd8f71 100%);
      font-size: 2.5em;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      font-family: "Corbel";
      letter-spacing: 3px;
      font-weight: 700;
      margin-top: 15px;
      padding: 15px 25px;
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .15);
      border-radius: 8px;
      outline: none;
      color: #fff;
      border: none;
  }
  .callback__btn button:hover {
      transform: translateY(-8px);
      transition: 0.3s;
  }
  .col-full .advanteges__block .elementor-image-box-img {
      margin: 0 0!important;
      height: 120px;
  }
  .col-full .advanteges__block {
      margin-top: 30px;
  }
  .col-full .advanteges__block h3 {
      font-family: "CentSchbk";
      color: #000;
      font-size: 3rem;
  }
  .col-full .advanteges__block p {
      font-size: 2rem;
      text-align: left;
      line-height: 25px;
      color: #000;
      padding: 15px 20px 0 20px;
  }
  .index__half {
      display: flex;
      justify-content: flex-end;
      padding: 50px 0;
  }
  .index__half .half__left h3 {
      font-size: 6rem;
  }
  .index__half .half__left > p {
      font-size: 2.2rem;
      margin: 20px 0 40px 0;
  }
  .index__half .half__left li {
      font-size: 2.2rem;
      margin-bottom: 20px;
      position: relative;
      padding-left: 60px;
  }
  .index__half .half__left li span {
      color: #f4a9a4;
  }
  .index__half .half__left li::before {
      content: "";
      width: 45px;
      height: 45px;
      margin: 10px 25px 0 0;
      background-image: url(../../assets/img/icons/check_old.png);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: -6px;
  }
  #index__about h3 {
      font-size: 6rem;
  }
  #index__about p {
      font-size: 2.2rem;
      margin: 20px 0 0px 0;
  }
  #consulting__block .wrap-text {
      display: flex;
      flex-direction: column;
      margin: 80px 0;
      align-items: center;
  }
  #consulting__block .wrap-text  h3 {
      font-size: 4rem;
  }
  #consulting__block .wrap-text p {
      font-size: 2.2rem;
      margin: 20px 0 0px 0;
  }
  #consulting__block .social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      margin: 50px 0 0 0;
  } 
  #consulting__block .social > div a {
      display: flex;
      align-items: center;
      font-size: 3rem;
  }
  #consulting__block .social > div a span {
      font-weight: 600;
      margin: 0 0 0 15px;
  }
  #gallery_title h3 {
      font-size: 4rem;
      text-align: center;
      width: 100%;
      margin: 40px 0 20px 0;
  }
  #callback__form #form__container {
      height: 100%;
      width: 100%;
      background-color: #fff;
  }
  #callback__form #form__container .form_block h3 {
      font-size: 5rem;
      text-align: center;
      width: 100%;
      margin: 12% 0 20px 0;
      font-weight: 400;
  }
  #callback__form #form__container .form_block p {
      font-size: 2.2rem;
      margin: 20px 0 0px 0;
      text-align: center;
  }
  #callback__form #form__container .form_block input {
      background-color: #fff;
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      box-shadow: none;
      width: 100%;
  }
  #callback__form #form__container form {
      padding: 0 10%;
  }
  #callback__form #form__container .form_block textarea {
      background-color: #fff;
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      box-shadow: none;
      height: 60px;
      resize: none;
      overflow: hidden;
  }
  #callback__form #form__container form .txt p {
      margin-top: 25px;
      margin-bottom: 15px;
      color: #9f948c;
      font-size: 1.3rem;
  }
  #callback__form #form__container form input[type="submit"] {
      background: linear-gradient(to bottom, #fde6d6 0%,#bd8f71 100%);
      font-size: 2.5rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      font-family: "Corbel";
      letter-spacing: 3px;
      font-weight: 700;
      margin-top: 15px;
      padding: 15px 25px;
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .15);
      border-radius: 8px;
      outline: none;
      color: #fff;
      border: none;
  }
  #callback__form #form__container form input[type="submit"]:hover {
      transform: translateY(-8px);
      transition: 0.3s;
  }
  /*other section*/
  
  
  /* callback popup */
  
  #wpcf7-f287-o1 .title {
      font-size: 4.3rem;
      text-align: center;
      width: 100%;
      margin: 12% 0 20px 0;
      font-weight: 400;
  }
  
  #wpcf7-f287-o1 input {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      box-shadow: none;
      width: 100%;
      margin: 0 0 20px 0;
      font-size: 1.6rem;
  }
  #wpcf7-f287-o1 form {
      padding: 0 10%;
      background-image: url(../../assets/img/other/callback_popup_bg.png);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
  #wpcf7-f287-o1 textarea {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      box-shadow: none;
      height: 60px;
      resize: none;
      overflow: hidden;
      font-size: 1.6rem;
  }
  #wpcf7-f287-o1 .txt p {
      margin-top: 25px;
      margin-bottom: 15px;
      color: #9f948c;
      font-size: 1.3rem;
  }
  #wpcf7-f287-o1 input[type="submit"] {
      background: linear-gradient(to bottom, #fde6d6 0%,#bd8f71 100%);
      font-size: 2.5rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      font-family: "Corbel";
      letter-spacing: 3px;
      font-weight: 700;
      margin-top: 15px;
      padding: 15px 25px;
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .15);
      border-radius: 8px;
      outline: none;
      color: #fff;
      border: none;
  }
  #wpcf7-f287-o1 input[type="submit"]:hover {
      transform: translateY(-8px);
      transition: 0.3s;
  }
  /* callback popup */
  
.col-full .advanteges__block.icons {
  margin: 0 0;
}
.ads__block.pages h1 {
    font-size: 4rem;
    color: #000;
}
#h3__title h3 {
  display: block;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  margin: 40px 0 20px 0;
}
.advanteges__block.icons .elementor-image-box-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.advanteges__block.icons figure {
  width: 100%!important;
}
.advanteges__block.icons img {
  width: 150px;
  min-width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto;
}
.advanteges__block.icons h3 {
  margin: 35px 0 0 0;
  text-transform: uppercase;
  font-size: 2rem;
}
#slider_text_block h2 {
  font-size: 4rem;
}
#slider_text_block p {
  font-size: 2.2rem;
}
#slider_text_block .half.number {
  padding: 0 5% 0 0;
}
#slider_text_block .half.number.bg {
  background-image: url(../../assets/img/other/shtori-number.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: top;
}
#slider_text_block .half.number.bg-1 {
  background-image: url(../../assets/img/other/title-uni.png);
}
#slider_text_block .half.number.bg-2 {
  background-image: url(../../assets/img/other/flower-cornices.png);
}
#slider_text_block .half.number.bg-3 {
  background-image: url(../../assets/img/other/title-lux.png);
}
#slider_text_block .half.number.bg-4 {
  background-image: url(../../assets/img/other/title-zhaluzi.png);
}
#slider_text_block .half h3 {
  font-size: 3.4rem;
}
#slider_text_block .half:not(.number) p {
  font-size: 1.8rem;
  line-height: initial;
}

#sale_and_callback h3 {
  font-size: 4rem;
}
#sale_and_callback h3 span {
  color: #f4a9a4 !important;
  text-shadow: 8px -3px 10px #fff;
  font-size: 8rem;
  font-family: "CentSchbk";
  font-weight: 300;
}
#sale_and_callback p {
    font-size: 2.5rem;
    line-height: initial;
    margin: 68px 0 40px 0!important;
}

#advanteges__pink_color h3 {
  margin-top: 0;
  color: #f4a9a4!important;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
#title__brush .brush {
    font-size: 7rem;
}
#sale__white_font * {
  color: #fff!important;
}
#sale__white_font h3 {
  font-size: 4rem;
}
#sale__white_font .brush {
  font-size: 5rem;
}
#sale__white_font p {
  font-size: 2rem;
  line-height: initial;
  margin: 15px 0 20px 0;
}

#tkani__container .tkani__container_txt h4 {
  font-size: 3rem;
}
#tkani__container .tkani__container_txt p {
  font-size: 2rem;
}
#slider__title_blur .elementor-image-carousel-caption {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  color: #fff;
  line-height: initial;
  width: 100%;
  backdrop-filter: blur(1px);
  opacity: 0;
  text-align: left;
  padding: 0 0 0 30px;
  background-color: #00000042;
}
#slider__title_blur .swiper-slide:hover .elementor-image-carousel-caption {
  opacity: 1;
  transition: 0.3s;
}
#slider__title_blur .swiper-pagination span {
  background-color: #cbb3a2;
  width: 10px;
  height: 10px;
}
#sale_and_callback.karniz_sale * {
  color: #fff!important;
}
#sale_and_callback.karniz_sale p {
  margin: 30px 0 40px 0!important;
}
#sale_and_callback.karniz_sale h3.brush {
  margin: 45px 0 0 0px;
  font-size: 6rem;
}
#karniz__mounting h3 {
  font-size: 4rem;
}
#karniz__mounting p {
  font-size: 2rem;
}
#karniz__mounting .callback__btn {
  text-align: center;
}
#karniz__mounting .half {
  background-image: url(../../assets/img/other/abstractt.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: top;
}
#karniz__gallery h4 {
  font-size: 3rem;
}
#karniz__gallery p {
  font-size: 2rem;
}
#contact__container .adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 1.8rem;
}
#contact__container .adress a {
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;
}
#contact__container .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact__container .social h4 {
  font-size: 2.6rem;
  text-align: center;
}
#contact__container .social .social-list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 15px 0 0 0;
}
#contact__container .social .social-list a img {
  min-width: 40px;
}